:host {
  --success-color: lightgreen;
}

.container {
  justify-content: space-around;
  margin: 2rem;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    h3 {
      margin: 1rem 0;
    }

    .action-button {
      display: flex;
      justify-content: flex-start;
      gap: var(--layout-gap-size);
      background-color: blue;
      button {
        padding: 20px;
        color: white;
      }
    }
  }

  .tasks {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
    gap: var(--layout-gap-size);

    mat-card {
      transition: background-color 1000ms linear;
      padding: var(--layout-padding);
      &.complete {
        background-color: var(--success-color);
      }
      .high-priority {
        color: var(--error-color);
      }
    }
  }
}
